<div class="container">
  <div class="section">
    <h1 class="title">New Profile</h1>

    <%= render 'form', profile: @profile %>

    <div class="block">
      <%= cancel_link(Profile) %>
    </div>
  </div>
</div>
