<section class="section">
  <div class="notification is-info">
    <p>Sign ups to MeetAnother.day are currently disabled. Thank you for your time and attention to this project. Look for additional news soon!</p>
  </div>

  <div class="links">
    <%= render "devise/shared/links" %>
  </div>
</section>
