<% if current_profile %>
  <h4><%= pluralize(friends_attending_count, "buddy", "buddies") %></h4>
<% end %>

<% if event_attendees %>
  <ul>
    <% event_attendees.each do |event_attendee| %>
      <li>
        <img src="<%= profile_picture(event_attendee.profile.email, size: 16) %>" alt="Profile pic" />
        <%= link_to event_attendee.profile %>
      </li>
    <% end %>
  </ul>
<% end %>
