<div class="section">
  <h1 class="title">Editing Event Attendee</h1>

  <div class="block">
    <%= render 'form', event_attendee: @event_attendee %>
  </div>

  <div class="block">
    <%#= buttons(@event_attendee) %>
  </div>
</div>
