<div class="section">
  <div class="container">
    <div class="block">
      <p>
        <strong>Profile</strong>
        <%= link_to @event_attendee.profile %>
      </p>

      <p>
        <strong>Event</strong>
        <%= link_to @event_attendee.event %>
      </p>

      <p>
        <strong>Email scheduled on</strong>
        <%= @event_attendee.email_scheduled_on.present? ? l(@event_attendee.email_scheduled_on, format: :long) : "Not scheduled" %>
      </p>
    </div>
    <div class="block">
      <%= buttons(@event_attendee, include_delete: true) %>
    </div>
  </div>
</div>
