<div class="section">
  <h1 class="title">Notifications</h1>

  <% @notifications.each do |notification| %>
    <%= render "components/notification", css_class:"is-info", resource: notification, include_delete: true do %>
      <%= link_to notification.message, notification.url %>
    <% end %>
  <% end %>
</div>
