<div class="container">
  <h1 class="title">Notifications</h1>

  <table class="table">
    <tbody>
      <% @notifications.each do |notification| %>
        <tr>
          <td><%= link_to notification.message, notification.url %></td>
          <td><%= button_to("", url_for(notification), method: :delete, class: "delete") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
