<div class="section">
  <h1 class="title">Notifications</h1>

  <% @notifications.each do |notification| %>
    <div class="message">
      <div class="message-header">
        <p><%= l(notification.created_at, format: :long) %></p>
        <%= button_to("", @notification, method: :delete, class: "delete") %>
      </div>
      <div class="message-body">
      <%= link_to notification.message, notification.url %>
      </div>
    </div>
  <% end %>
</div>
