<div class="container">
  <h1 class="title"><%= @notification.message %></h1>

  <% if @notification.notifiable %>
    <h2 class="subtitle">
      <%= link_to @notification.notifiable, @notification.notifiable %>
    </h2>
  <% end %>

  <%= buttons(@notification, include_nav: true, include_delete: true) %>
</div>
