<div class="container">
  <h1 class="title"><%= @notification.message %></h1>

  <h2 class="subtitle">
    <%= link_to @notification.notifiable, @notification.notifiable %>
  </h2>

  <p>
    <strong>Notification from:</strong>
    <%= link_to @notification.notifier, @notification.notifier %>
  </p>

  <%= buttons(@notification, include_nav: true) %>
</div>
