<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th class="is-hidden-mobile">Description</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% events.each do |event| %>
      <tr>
        <td><%= link_to event %></td>
        <td class="is-hidden-mobile"><%= kramdown_pure_text(event.description) %></td>
        <td><%= date_range(event) %></td>
        <td><%= buttons(event) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
