<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% events.each do |event| %>
      <tr>
        <td><%= link_to event, event %></td>
        <td style="max-width: 500px; min-width: 1px"><%= event.description %></td>
        <td><%= date_range(event) %></td>
        <%= buttons_for_index(event) %>
      </tr>
    <% end %>
  </tbody>
</table>
