<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% events.each do |event| %>
      <tr>
        <td><%= link_to event, event %></td>
        <td><%= event.description %></td>
        <td><%= date_range(event) %></td>
        <td><%= buttons(event) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
