<div class="container">
  <div class="section">
    <h1 class="title">New Event</h1>

    <%= render 'form', event: @event %>

    <div class="block">
      <%= cancel_new_link(Event) %>
    </div>
  </div>
</div>
