<div class="container">
  <div class="mb-3">
    <%= link_to @friendship %>

    <p>
      <strong>Friend:</strong>
      <%= link_to @friendship.friend %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @friendship.status %>
    </p>
  </div>

  <div class="field is-grouped-multiline has-addons">
    <%= friendship_button(@friendship, current_user&.profile) %>
  </div>
</div>
