<div class="container content">
  <div class="section">
    <h1>Meet Another Day</h1>
    <p class="mt-4">
      It was the first day of Strangeloop, and Chael was having lunch alone. She knew several friends were going, but she didn't know who! If this has ever happened to you or any of the following scenarios, then Meet Another Day is for you!
    </p>
    <ul>
      <li>You meet someone cool at a conference, and next year, you want to meet up again, but you don't remember their name!</li>
      <li>You and a good friend are both going to the same event, but you don't meet up while you're there, because you didn't know they were going!</li>
      <li>You pick which events you're going to based on whether or not friends will be there.</li>
      <li>You didn't know an event was coming up, and get <abbr title="Fear of Missing Out">FOMO</abbr> when all your friends are there!</li>
      <li>You're getting lunch on the first day, and you've messaged everyone you know who's going, and they're all busy! (Let's keep looking, maybe you know someone else too?)</li>
    </ul>
  </div>
  <div class="section">
    <h1>How it works</h1>
    <p>You create a profile with a name, handle, and description. (And your friends do too.)</p>
    <figure class="image">
      <%= image_tag "Profile.png", alt: "Screenshot of ChaelCodes' profile at /profiles/1." %>
    </figure>
    <p>
      You friend all the folks you think are cool. And they friend you! Then you can share info about which events you're going to! (By default, only your mutual friends will see which events you're attending.)
    </p>
    <figure class="image">
      <%= image_tag "RequestFriend.png", alt: "Screenshot of request friend button on the profile." %>
    </figure>
    <p>
      When you look at an Event, you'll see event details, and all your mutual friends who are attending! Hit the "Attend" button, and your friends will see you're going, and it'll be added to your profile!
    </p>
    <figure class="image">
      <%= image_tag "Event.png", alt: "Screenshot of the event page, with friends attending listed, and a giant attend button. Found at /events/2" %>
    </figure>
  </div>
  <div class="section">
    <p><b class="title">You have enough messaging services to check. We won't add a new one.</b></p>
    <p>Reach out to your friend on the platform you normally use to communicate, whether that's Signal, Discord, Telegram, Bluesky, or somewhere else.</p>
  </div>
  <section class="hero is-primary">
    <div class="hero-body">
      <p class="title">Create a Profile</p>
      <p class="subtitle">Join your friends</p>
      <%= link_to "Sign Up", new_user_registration_path, class: "button #{alert_color} is-inverted is-outlined" %>
    </div>
  </section>
</div>
