<div class="container">
  <h1>A Brief History of ConfBuddies:</h1>
  <p class="mt-4">
    Chael was sitting alone at a conference. She had 10+ other people she knew that were going, but she didn't know that.

    ConfBuddies!! 10 friends plug in the events they're attending.

    Chael friends those people.

    When I look at Strangeloop, I see all my friends, and can ping them!

    <b>"You have enough messaging services to check. We won't add a new one."</b>
  </p>

  <h2 class="mt-6">Useful links</h2>
  <ul class"mt-4">
    <li>Repo: <a>github.com/ChaelCodes/ConfBuddies</a></li>
    <li>Twitch: <a>twitch.tv/chaelcodes<a/></li>
  </ul>
</div>
