name: Check Code

on:
  pull_request_target:
    branches: [main]
  push:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.0.1
    - run: bundle install
    - name: Rubocop
      run: bundle exec rubocop
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.0.1
    - run: docker-compose run web bundle exec rake db:test:prepare
    - name: RSpec
      run: docker-compose run web bundle exec rspec
    - run: docker-compose down
