<% if resource.errors.any? %>
  <%= render "components/message", css_class: "is-danger", message_header: error_header(resource) do %>
    <ul>
      <% resource.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
