<footer class="footer navbar is-fixed-bottom">
  <div class="content has-text-centered">
  <p>
    Have questions? Bring them by the <a href="https://twitch.tv/chaelcodes">stream!</a> Every Sunday at 15:00 UTC.
  </p>
  <p>
    Created with love and in the open on <a href="https://github.com/ChaelCodes/ConfBuddies">GitHub</a>.
  </p>
</footer>
