<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="color-scheme" content="light dark">
    <style type="text/css">
      /* Email styles need to be inline */
      body {
        font-family: "Fira Sans", Roboto, sans-serif;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
